.calendar-date {
  padding: 0 1rem;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.calendar-date:hover {
  background: rgb(225, 217, 217, 0.5);
}

.calendar-week {
  width: 100%;
}

#calendar {
  display: flex;
  background: black;
  width: 1200px;
  height: 1200px;
}

#calendar * {
  color: white;
}

.time-button {
  border-radius: 5px;
  background: rgb(225, 217, 217, 0.5);
  padding: 0.5rem 1rem;
  font-weight: bold;
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
}

#availability-segments {
  justify-content: space-between;
}

.cal-arrow-button {
  border-radius: 5px;
  background: rgb(225, 217, 217, 0.5);
  padding: 0.5rem;
  font-weight: bold;
}
