.calendar-date {
  padding: 0 1rem;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.calendar-week {
  width: 100%;
}

#calendar {
  display: flex;
  background: black;
  width: 1200px;
  height: 1200px;
}

#calendar * {
  color: white;
}
