#checkout-cart .totals-footer {
  border-top: 1px solid #b26060;
  padding: 0.5rem 0rem;
}

#checkout-cart .label {
  font-weight: bold;
}

#checkoutForm input {
  border: 1px solid #b26060;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
}

.field {
  position: relative;
  margin-top: 1rem;
  width: 100%;
}

.field input {
  width: 100%;
  padding: 14px 10px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: none;
}

.field label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  padding: 0 4px;
  color: #777;
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease;
}

.field input:focus + label,
.field input:not(:placeholder-shown) + label {
  top: 10px;
  font-size: 12px;
  color: #333;
}

.separator {
  border-bottom: 1px solid #aaa;
  padding-bottom: 1rem;
}

.textConsent {
  border-bottom: 1px solid #aaa;
  padding: 1rem 0rem 2rem 0rem;
}

.checkout-hero label {
  color: rgba(115, 115, 115);
}

.checkout-hero .date {
  color: black;
  font-weight: bolder;
}

.checkout-hero .total {
  text-wrap: initial;
}

.addLink:hover {
  cursor: pointer;
  text-decoration: underline;
}
