#addOn .add-on-option {
  border-bottom: 1px solid #b26060;
}

.disabled,
#option-form .disabled span {
  color: rgba(115, 115, 115, 0.5);
  background: none !important;
  background-color: transparent !important;
}

#addOn .disabled,
#addOn #option-form .disabled,
#addOn #option-form .disabled span {
  background: none !important;
  background-color: transparent !important;
}
