#bookings ul li {
  color: rgb(115 115 115);
}

.collapsedPackage label {
  font-weight: bold;
}

#bookings .collapsedPackage ul {
  margin-top: 1rem;
}

.collapsedPackageHoverContainer {
  padding: 1rem 0.5rem;
  border-radius: 5px;
  border-bottom: 1px solid rgba(115, 115, 115, 0.2);
}

.collapsedPackageHoverContainer:hover {
  background-color: rgba(115, 115, 115, 0.1);
}

#bookings .nextButton {
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

.nextButtonDisabled {
  color: rgba(115, 115, 115);
  background-color: rgba(115, 115, 115, 0.1);
  cursor:not-allowed;
}
