@import "tailwindcss";

ul li {
  list-style: inside;
  margin-left: 2rem;
}

.button {
  position: sticky;
  bottom: 10px;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  background-color: #002559;
  font-weight: bold;
  color: white;
  width: 100%;
}
