@import "tailwindcss";

ul li{
  list-style:inside;
  margin-left: 2rem;
}

.button{
 position: sticky;
 bottom: 10px;
 padding: .5rem 2rem;
 border-radius: 5px;
 background-color: #002559;
 color: white;
 width: 100%; 
}